<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySQLString" connectionString="Server=192.168.112.222;port=3306;Database=EnergyDB;userid=energy;password=Acrel001"/>
   <add name="redis" connectionString="192.168.112.222:6379"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>